---
apiVersion: v1
kind: ConfigMap
metadata:
  name: front-config
  # namespace: healthyreal
  labels:
    app: front
data:
  # Kubernetes 내부 서비스 이름 사용 (같은 네임스페이스)
  VITE_API_BASE_URL: "http://13.124.109.82.nip.io/api"
  VITE_API_FLASK_BASE_URL: "http://13.124.109.82.nip.io/ai"  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: front
  labels:
    app: front
spec:
  replicas: 2                           # Flask 서버 2개 (필요시 scale up 가능)
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      containers:
        - name: front-container
          image: seung0208/front:latest   # ✅ Jenkins에서 push한 Docker 이미지
          imagePullPolicy: Always
          ports:
            - containerPort: 80              
          envFrom:
            - configMapRef:
                name: front-config         # ✅ .env 파일로 만든 Secret (선택사항)
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: front-service
  labels:
    app: front-service
spec:
  selector:
    app: front
  type: ClusterIP
  ports:
    - name: http
      port: 80           # 클러스터 내부에서 접근할 포트
      targetPort: 80     # 컨테이너의 Flask 포트 (Gunicorn --bind)
      protocol: TCP

# ------------------------------------------
# 3️⃣ Flask Ingress (외부 트래픽 유입)
# ------------------------------------------
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: front-ingress
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - host: 13.124.109.82.nip.io     # ✅ k3s 마스터 노드 IP 기반 테스트용 도메인 (또는 실제 도메인)
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: front-service
                port:
                  number: 80
